bcrypt==4.2.1
certifi==2024.8.30
email_validator==2.2.0
fastapi==0.112.2
httpcore==1.0.7
httpx==0.27.2
multidict==6.1.0
mysql-connector-python==9.1.0
openai==0.28.0
openapi==2.0.0
passlib==1.7.4
pydantic==2.8.2
pydantic_core==2.20.1
PyMySQL==1.1.1
PyPDF2==3.0.1
python-dotenv==0.21.0
python-jose==3.3.0
python-multipart==0.0.17
referencing==0.35.1
requests==2.32.3
SQLAlchemy==2.0.34
starlette==0.38.2
uvicorn==0.30.6
